:root {
    --text: #000;
    --card-bg: #fff;
    --text-light: rgba(102, 103, 99, 0.8);
    --green-dark: #73852a;
    --green-light: #98ac3b;
}
#root {
    min-height: 100vh;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    min-height: 100vh;
}

.form__container {
    width: 100%;
    margin: auto;
    padding: 1rem;
    border-radius: 0.75rem;
    background: #fff;
    box-shadow:
        0px 4.5px 3.6px rgba(0, 0, 0, 0.014),
        0px 12.5px 10px rgba(0, 0, 0, 0.02),
        0px 30.1px 24.1px rgba(0, 0, 0, 0.026),
        0px 100px 80px rgba(0, 0, 0, 0.04)
    ;
}
form {
    .datepicker span {
        text-align: left;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0.75rem 1rem 1rem;
        border-width: 2px;
        border-radius: 12px;

        legend {
            padding-inline: 5px;
        }
    }
}

@media screen and (width < 580px) {
    #root {
        padding: 1rem;
    }
}

/* Dialog */
dialog.dialog-custom {
    padding: 1.25rem 1.5rem;
}
.dialog-custom button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.25s;
}
.dialog-custom .btn-close__icon {
	padding: .25rem;
}
.dialog-custom button:hover {
    border-color: #646cff;
}
.dialog-custom button:focus,
.dialog-custom button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}